In [1]:
import pandas as pd

credits_amazon = pd.read_csv('/Users/monzon8/Documents/Ironhack/PROYECTOS/04_SQL/credits_Amazon_Prime.csv')
credits_appletv = pd.read_csv('/Users/monzon8/Documents/Ironhack/PROYECTOS/04_SQL/credits_AppleTV.csv')
credits_disney = pd.read_csv('/Users/monzon8/Documents/Ironhack/PROYECTOS/04_SQL/credits_Disney.csv')
credits_hbo = pd.read_csv('/Users/monzon8/Documents/Ironhack/PROYECTOS/04_SQL/credits_HBO.csv')
credits_netflix = pd.read_csv('/Users/monzon8/Documents/Ironhack/PROYECTOS/04_SQL/credits_Netflix .csv')
credits_paramount = pd.read_csv('/Users/monzon8/Documents/Ironhack/PROYECTOS/04_SQL/credits_Paramount.csv')

In [2]:
# Combino todos los créditos con una sola tabla
credits_combinado = pd.concat([
    credits_amazon,
    credits_appletv,
    credits_disney,
    credits_hbo,
    credits_netflix,
    credits_paramount
], ignore_index=True)

In [3]:
credits_combinado

        person_id         id              name         character      role
0           25020    tm87233     James Stewart     George Bailey     ACTOR
1           26190    tm87233        Donna Reed        Mary Hatch     ACTOR
2           25653    tm87233  Lionel Barrymore        Mr. Potter     ACTOR
3           13301    tm87233   Thomas Mitchell       Uncle Billy     ACTOR
4           34171    tm87233     Henry Travers          Clarence     ACTOR
...           ...        ...               ...               ...       ...
370541     709229  tm1285862    Jonah Feingold               NaN  DIRECTOR
370542      24846   ts378319            RuPaul       Self - Host     ACTOR
370543    1331687  tm1075680        Brian Cade  Narrator (voice)     ACTOR
370544     412947  tm1075680      Kevin Bachar               NaN  DIRECTOR
370545    2413513  tm1312309   Nathaniel Lezra               NaN  DIRECTOR

[370546 rows x 5 columns]

In [4]:
credits_combinado = credits_combinado.rename(columns={'id': 'id_titles'})

In [ ]:
print(credits_combinado.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370546 entries, 0 to 370545
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   person_id  370546 non-null  int64
 1   id_titles  370546 non-null  object
 2   name       370546 non-null  object
 3   character  332144 non-null  object
 4   role       370546 non-null  object
dtypes: int64(1), object(4)
memory usage: 14.1+ MB
None

In [6]:
credits_combinado.to_csv('credits_combinado.csv', index=False)