In [30]:
import pandas as pd

# Cargo los enlaces en un diccionario por si luego queremos ampliar o reducir el origen de datos
files = {
    'Amazon Prime': '/Users/monzon8/Documents/Ironhack/PROYECTOS/04_SQL/titles_Amazon_Prime.csv',
    'AppleTV': '/Users/monzon8/Documents/Ironhack/PROYECTOS/04_SQL/titles_AppleTV.csv',
    'Disney': '/Users/monzon8/Documents/Ironhack/PROYECTOS/04_SQL/titles_Disney.csv',
    'HBO': '/Users/monzon8/Documents/Ironhack/PROYECTOS/04_SQL/titles_HBO.csv',
    'Netflix': '/Users/monzon8/Documents/Ironhack/PROYECTOS/04_SQL/titles_Netflix .csv',
    'Paramount': '/Users/monzon8/Documents/Ironhack/PROYECTOS/04_SQL/titles_Paramount.csv'
}

In [37]:
# Cargo cada archivo y añado la columna platform 
dataframes = []
for platform, file_path in files.items():
    df = pd.read_csv(file_path)
    df['platform'] = platform
    dataframes.append(df)

In [38]:
columns_info = {platform: df.columns.tolist() for platform, df in zip(files.keys(), dataframes)}
columns_info

{'Amazon Prime': ['id',
  'title',
  'type',
  'description',
  'release_year',
  'age_certification',
  'runtime',
  'genres',
  'production_countries',
  'seasons',
  'imdb_id',
  'imdb_score',
  'imdb_votes',
  'tmdb_popularity',
  'tmdb_score',
  'platform'],
 'AppleTV': ['id',
  'title',
  'type',
  'description',
  'release_year',
  'age_certification',
  'runtime',
  'genres',
  'production_countries',
  'seasons',
  'imdb_id',
  'imdb_score',
  'imdb_votes',
  'tmdb_popularity',
  'tmdb_score',
  'platform'],
 'Disney': ['id',
  'title',
  'type',
  'description',
  'release_year',
  'age_certification',
  'runtime',
  'genres',
  'production_countries',
  'seasons',
  'imdb_id',
  'imdb_score',
  'imdb_votes',
  'tmdb_popularity',
  'tmdb_score',
  'platform'],
 'HBO': ['id',
  'title',
  'type',
  'description',
  'release_year',
  'age_certification',
  'runtime',
  'genres',
  'production_countries',
  'seasons',
  'imdb_id',
  'imdb_score',
  'imdb_votes',
  'tmdb_popularity',
  'tmdb_score',
  'platform'],
 'Netflix': ['id',
  'title',
  'type',
  'description',
  'release_year',
  'age_certification',
  'runtime',
  'genres',
  'production_countries',
  'seasons',
  'imdb_id',
  'imdb_score',
  'imdb_votes',
  'tmdb_popularity',
  'tmdb_score',
  'platform'],
 'Paramount': ['id',
  'title',
  'type',
  'description',
  'release_year',
  'age_certification',
  'runtime',
  'genres',
  'production_countries',
  'seasons',
  'imdb_id',
  'imdb_score',
  'imdb_votes',
  'tmdb_popularity',
  'tmdb_score',
  'platform']}

In [39]:
#Hago un concat de todos lso DF teniendo como referencia el 'id' y agrego una columna con las múltiples plataformas siempre que tenga la misma 'id'
combinado_df = pd.concat(dataframes, ignore_index=True)
combinado_df = combinado_df.groupby('id', as_index=False).agg({
    **{col: 'first' for col in combinado_df.columns if col != 'platform'},
    'platform': lambda x: ', '.join(sorted(set(x)))  # Combine platform names for duplicate ids
})

In [40]:
combinado_df['seasons'] = combinado_df['seasons'].fillna(0)

In [41]:
combinado_df

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,platform
0,tm1,Star Wars,MOVIE,Princess Leia is captured and held hostage by ...,1977,PG,121,"['action', 'scifi', 'fantasy']",['US'],0.0,tt0076759,8.6,1378285.0,81.289,8.207,Disney
1,tm10,The Matrix,MOVIE,"Set in the 22nd century, The Matrix tells the ...",1999,R,136,"['action', 'scifi']",['US'],0.0,tt0133093,8.7,1934137.0,76.460,8.200,HBO
2,tm10000,Jury Duty,MOVIE,When jobless Tommy Collins discovers that sequ...,1995,PG-13,88,"['comedy', 'drama']",['US'],0.0,tt0113500,4.2,8331.0,8.846,4.500,HBO
3,tm100001,The Lucky Texan,MOVIE,"Jerry Mason, a young Texan, and Jake Benson, a...",1934,None,61,"['western', 'action', 'romance']",['US'],0.0,tt0025440,5.6,1284.0,3.703,4.900,"Amazon Prime, Paramount"
4,tm1000022,Boonie Bears: The Wild Life,MOVIE,Bear brothers Briar and Bramble set off on an ...,2021,None,99,"['comedy', 'animation']",['CN'],0.0,tt11654032,4.5,164.0,9.294,4.900,Amazon Prime
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23352,ts99534,Nomads of the Serengeti,SHOW,"Every year, two million zebras and wildebeest ...",2015,TV-G,48,['documentation'],['US'],1.0,tt6416272,7.6,22.0,1.331,NaN,Paramount
23353,ts99535,Secret Life of the Koala,SHOW,"Despite needing 18-21 hours of sleep a day , k...",2016,TV-G,48,['documentation'],['US'],1.0,tt6416326,7.8,15.0,0.600,NaN,Paramount
23354,ts99814,Masameer,SHOW,A popular Saudi animation show talks sarcastic...,2011,TV-MA,14,"['animation', 'comedy']",['SA'],1.0,tt6298258,8.2,722.0,NaN,NaN,Netflix
23355,ts9986,Eagleheart,SHOW,Eagleheart is an action-comedy television seri...,2011,TV-MA,13,"['action', 'comedy']",['US'],3.0,tt1728860,7.4,2074.0,5.227,7.100,HBO
23356,ts99878,Black and British: A Forgotten History,SHOW,Historian David Olusoga explores the enduring ...,2016,None,50,['documentation'],['GB'],1.0,tt6277336,7.9,94.0,0.600,NaN,Amazon Prime

In [42]:
combinado_df = combinado_df.rename(columns={'id': 'id_titles'})
combinado_df = combinado_df.rename(columns={'genres': 'genre_title'})
combinado_df = combinado_df.rename(columns={'production_countries': 'country_title'})
combinado_df = combinado_df.rename(columns={'platform': 'platform_title'})

In [43]:
print(combinado_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23357 entries, 0 to 23356
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id_titles          23357 non-null  object
 1   title              23357 non-null  object
 2   type               23357 non-null  object
 3   description        23162 non-null  object
 4   release_year       23357 non-null  int64
 5   age_certification  11379 non-null  object
 6   runtime            23357 non-null  int64
 7   genre_title        23357 non-null  object
 8   country_title      23357 non-null  object
 9   seasons            23357 non-null  float64
 10  imdb_id            21408 non-null  object
 11  imdb_score         20800 non-null  float64
 12  imdb_votes         20740 non-null  float64
 13  tmdb_popularity    22637 non-null  float64
 14  tmdb_score         20357 non-null  float64
 15  platform_title     23357 non-null  object
dtypes: float64(5), int64(2), object(9)
memory usage: 2.9+ MB
None

In [44]:
combinado_df.to_csv('titles_combinado.csv', index=False)