TITLE

In [1]:
import pandas as pd

# 1. Cargar el archivo CSV en un DataFrame
df = pd.read_csv('./titles_combinado.csv')

In [3]:
df = df.drop(columns=['genre_title', 'country_title', 'platform_title'])

In [4]:
df.head()

,id_titles,title,type,description,release_year,age_certification,runtime,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,tm1,Star Wars,MOVIE,Princess Leia is captured and held hostage by ...,1977,PG,121,0.0,tt0076759,8.6,1378285.0,81.289,8.207
1,tm10,The Matrix,MOVIE,"Set in the 22nd century, The Matrix tells the ...",1999,R,136,0.0,tt0133093,8.7,1934137.0,76.460,8.200
2,tm10000,Jury Duty,MOVIE,When jobless Tommy Collins discovers that sequ...,1995,PG-13,88,0.0,tt0113500,4.2,8331.0,8.846,4.500
3,tm100001,The Lucky Texan,MOVIE,"Jerry Mason, a young Texan, and Jake Benson, a...",1934,NaN,61,0.0,tt0025440,5.6,1284.0,3.703,4.900
4,tm1000022,Boonie Bears: The Wild Life,MOVIE,Bear brothers Briar and Bramble set off on an ...,2021,NaN,99,0.0,tt11654032,4.5,164.0,9.294,4.900

In [5]:
df.to_csv('./titles.csv')