GENERO

In [38]:
import pandas as pd

# 1. Cargar el archivo CSV en un DataFrame
df = pd.read_csv('./titles_combinado.csv')

# 2. Convertir la columna 'genero' a listas si está en formato string
# (necesario si los valores son strings con coma, por ejemplo 'drama, history, crime')
df['genres'] = df['genres'].str.split(', ')

# 3. Explode para obtener cada género en una fila, aunque con duplicados
df_exploded = df.explode('genres')


# 4. Limpiar los valores de 'genero' quitando posibles corchetes y comillas adicionales
df_exploded['genres'] = df_exploded['genres'].str.strip("[]'\" ")

# 5. Obtener los géneros únicos
generos_unicos = df_exploded['genres'].dropna().unique()

# 6. Crear un DataFrame con géneros únicos y asignar un ID a cada uno
df_generos_unicos = pd.DataFrame({
    'id': range(1, len(generos_unicos) + 1),
    'genres': generos_unicos
})

In [53]:
import pandas as pd

# 1. Cargar el archivo CSV en un DataFrame
df = pd.read_csv('./titles_combinado.csv')

df['genres'] = df['genres'].str.split(', ')

# 3. Explode para obtener cada género en una fila, aunque con duplicados
df_exploded = df.explode('genres')

df_genre_titles = df_exploded[['id', 'genres']]
df_genre_titles['genres'] = df_genre_titles['genres'].str.strip("[]'\" ")

C:\Users\Ema\AppData\Local\Temp\ipykernel_20936\753013602.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_genre_titles['genres'] = df_genre_titles['genres'].str.strip("[]'\" ")

In [ ]:
df_genre_titles = df_genre_titles.merge(df_generos_unicos, on='genres')

In [60]:

df_genre_titles = df_genre_titles.rename(columns={'id_y': 'id_genre'})
df_genre_titles = df_genre_titles.rename(columns={'id_x': 'id_title'})

In [61]:
df_genre_titles = df_genre_titles[['id_title', 'id_genre']]

In [62]:
df_genre_titles

      id_title  id_genre
0          tm1         1
1          tm1         2
2          tm1         3
3         tm10         1
4         tm10         2
...        ...       ...
56541  ts99814         8
56542  ts99814         4
56543   ts9986         1
56544   ts9986         4
56545  ts99878        15

[56546 rows x 2 columns]

In [63]:
# Exportar df_generos_unicos a un archivo CSV
df_genre_titles.to_csv('generos_titles.csv', index=False)

In [67]:
# Exportar df_generos_unicos a un archivo CSV
df_generos_unicos.to_csv('generos_unicos.csv', index=False)

COUNTRY

In [69]:
import pandas as pd

# 1. Cargar el archivo CSV en un DataFrame
df = pd.read_csv('./titles_combinado.csv')

# 2. Convertir la columna 'production_countries' a listas si está en formato string
# (necesario si los valores son strings con coma, por ejemplo 'drama, history, crime')
df['production_countries'] = df['production_countries'].str.split(', ')

# 3. Explode para obtener cada production_countries en una fila, aunque con duplicados
df_exploded_dos = df.explode('production_countries')


# 4. Limpiar los valores de 'production_countries' quitando posibles corchetes y comillas adicionales
df_exploded_dos['production_countries'] = df_exploded_dos['production_countries'].str.strip("[]'\" ")

# 5. Obtener los production_countries únicos
production_countries_unicos = df_exploded_dos['production_countries'].dropna().unique()

# 6. Crear un DataFrame con production_countries únicos y asignar un ID a cada uno
df_production_countries_unicos = pd.DataFrame({
    'id': range(1, len(production_countries_unicos) + 1),
    'production_countries': production_countries_unicos
})

In [70]:
# Ver el resultado
df_production_countries_unicos.head(10)

   id production_countries
0   1                   US
1   2                   CN
2   3                   CZ
3   4                   DE
4   5                   CA
5   6                   GB
6   7                   ID
7   8                   PL
8   9
9  10                   IN

In [71]:
# Exportar df_production_countries_unicos a un archivo CSV
df_production_countries_unicos.to_csv('paises_unicos.csv', index=False)

In [73]:
import pandas as pd

# 1. Cargar el archivo CSV en un DataFrame
df = pd.read_csv('./titles_combinado.csv')

df['production_countries'] = df['production_countries'].str.split(', ')

# 3. Explode para obtener cada género en una fila, aunque con duplicados
df_exploded = df.explode('production_countries')

df_country_titles = df_exploded_dos[['id', 'production_countries']]
df_country_titles['production_countries'] = df_country_titles['production_countries'].str.strip("[]'\" ")
df_country_titles = df_country_titles.merge(df_production_countries_unicos, on='production_countries')

C:\Users\Ema\AppData\Local\Temp\ipykernel_20936\1815078107.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country_titles['production_countries'] = df_country_titles['production_countries'].str.strip("[]'\" ")

In [74]:
df_country_titles = df_country_titles.rename(columns={'id_y': 'id_production_countries'})
df_country_titles = df_country_titles.rename(columns={'id_x': 'id_title'})

In [75]:
df_country_titles = df_country_titles[['id_title', 'id_production_countries']]

In [76]:
df_country_titles

        id_title  id_production_countries
0            tm1                        1
1           tm10                        1
2        tm10000                        1
3       tm100001                        1
4      tm1000022                        2
...          ...                      ...
26742    ts99534                        1
26743    ts99535                        1
26744    ts99814                       69
26745     ts9986                        1
26746    ts99878                        6

[26747 rows x 2 columns]

In [77]:
# Exportar df_production_countries_unicos a un archivo CSV
df_country_titles.to_csv('country_title.csv', index=False)

PLATFORM

In [82]:
import pandas as pd

# 1. Cargar el archivo CSV en un DataFrame
df = pd.read_csv('./titles_combinado.csv')


# 2. Convertir la columna 'platform' a listas si está en formato string
# (necesario si los valores son strings con coma, por ejemplo 'drama, history, crime')
df['platform'] = df['platform'].str.split(', ')

# 3. Explode para obtener cada platform en una fila, aunque con duplicados
df_exploded_tres = df.explode('platform')


# 4. Limpiar los valores de 'platform' quitando posibles corchetes y comillas adicionales
df_exploded_tres['platform'] = df_exploded_tres['platform'].str.strip("[]'\" ")

# 5. Obtener los platform únicos
platform_unicos = df_exploded_tres['platform'].dropna().unique()

# 6. Crear un DataFrame con platform únicos y asignar un ID a cada uno
df_platform_unicos = pd.DataFrame({
    'id': range(1, len(platform_unicos) + 1),
    'platform': platform_unicos
})

In [83]:
# Ver el resultado
df_platform_unicos.head(10)

   id      platform
0   1        Disney
1   2           HBO
2   3  Amazon Prime
3   4     Paramount
4   5       Netflix
5   6       AppleTV

In [84]:
# Exportar platform a un archivo CSV
df_platform_unicos.to_csv('platform_unicos.csv', index=False)

In [85]:
import pandas as pd

# 1. Cargar el archivo CSV en un DataFrame
df = pd.read_csv('./titles_combinado.csv')

df['platform'] = df['platform'].str.split(', ')

# 3. Explode para obtener cada género en una fila, aunque con duplicados
df_exploded_tres = df.explode('platform')

df_platform_titles = df_exploded_tres[['id', 'platform']]
df_platform_titles['platform'] = df_platform_titles['platform'].str.strip("[]'\" ")
df_platform_titles = df_platform_titles.merge(df_platform_unicos, on='platform')

C:\Users\Ema\AppData\Local\Temp\ipykernel_20936\1439819813.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_platform_titles['platform'] = df_platform_titles['platform'].str.strip("[]'\" ")

In [86]:
df_platform_titles = df_platform_titles.rename(columns={'id_y': 'id_platform'})
df_platform_titles = df_platform_titles.rename(columns={'id_x': 'id_title'})

In [87]:
df_platform_titles = df_platform_titles[['id_title', 'id_platform']]

In [88]:
# Exportar platform a un archivo CSV
df_platform_titles.to_csv('platform_titles.csv', index=False)